#title {
  background-color: #ff4c68;
  color: #fff;
}


h1{
font-family: "Montserrat";
font-size: 3rem;
line-height: 1.5;
}
h3{
  font-size: 1.5rem;
}

h2{
  padding: 5% 0 2% 0;
}

p{
  font-family: "Montserrat";
  color: grey;
}

.container-fluid{
  padding: 3% 15%;

}
.featurecontainer{
  text-align: center;
  padding: 7% 15%;
}

.doggo{
  width: 60%
}

.featureicon{
  color: #ef8172;
  font-size:  4rem;
  margin: 20px auto;
}
.featureicon:hover{
  color: #ff4c68
}

body {

font-family: "Montserrat";

}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding:  0 18px;
}

.nac-link{
  font-family: "Montserrat";
}



.download-btn{
  margin: 5% 3% 5% 0

}



#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #fff

}

.carousel-item{
  padding: 7% 15%;

}

.elez {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.nabil {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.osama {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}



#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}


.presslogo{
  width: 15%;
  margin: 20px 20px 50px
}



#pricing{
  background-color: #fff;
  text-align: center;
  padding-bottom: 3%;
}




.pc{
  padding: 3% 2%;
}

#cta{
  text-align: center;

}

#footer{
  text-align: center;
  
}
